{% extends "layout.html" %}

{% block content %}
<div class="row  m-3">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Execute Terminal Commands</h5>
                <p class="card-text">Provide your terminal command and get output on the same screen below!.</p>
                <a class="btn btn-primary" href="{{ url_for('command_exec') }}">Execute Command</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Manage Work Data</h5>
                <p class="card-text">Mannage and record your daily work data and save accordinglt</p>
                <a href="{{ url_for('manage_work_data') }}" class="btn btn-primary">Work Data Management</a>
            </div>
        </div>
    </div>
</div>
<div class="row  m-3">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Task 3 heading</h5>
                <p class="card-text">Task 3 small description</p>
                <a class="btn btn-primary" href="#">GOTO Task 3</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Task 4 heading</h5>
                <p class="card-text">Task 3 small description</p>
                <a href="#" class="btn btn-primary">GOTO Task 4</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}