{% extends "layout.html" %}

{% block content %}
<div class="row no-gutters justify-content-around pl-1 pr-1" >
    <div class="container border border-dark col-8">
        {% for i in fields %}
        <div class="row no-gutters justify-content-between mb-1 mt-1 pl-1 pr-1">
            <label class="col-1">{{i}}: </label>
            <input type="text" class="col-4 ml-1 input" placeholder="0">
            <input type="button" class="col-2 ml-1 btn btn-dark" value="+">
            <input type="button" class="col-2 ml-1 btn btn-secondary" value="-">
            <br>
        </div>
        {% endfor %}

        <div class="row no-gutters pl-1 pr-1">
            <div class="form-group col-12">
                <label>Highlights:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
            </div>
        </div>

        <div class="row mt-2 mb-1 no-gutters pl-1 pr-1 justify-content-center">
            <input type="button" class="col-2 ml-1 mr-1 btn btn-success" value="Save">
            <input type="button" class="col-2 ml-1 mr-1 btn btn-warning" value="Copy">
            <input type="button" class="col-2 ml-1 mr-1 btn btn-danger" value="Export">
        </div>
    </div>

    <div class="container border border-dark col-4 pl-1 pr-1">
        <h4>Saved Data</h4>
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
</div>

{% endblock content %}